.cart-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px; 
  height: 100%;
  z-index: 100; 
  display: flex;
  justify-content: flex-end; 
  overflow: hidden; 
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.2); 
}

.cart-content {
  width: 400px;
  height: 100%;
  background-color: #f4f6f9;
  position: relative;
  display: flex;
  flex-direction: column;
  animation: slideCartWindow 0.4s ease forwards;
  z-index: 1;
}

@keyframes slideCartWindow {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.cart-header {
  display: flex;
  justify-content: space-between; 
  padding: 20px;
  background-color: #8e2de2; 
  color: white; 
  font-weight: bold; 
  font-size: 20px;
  align-items: center; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.close-button {
  font-size: 20px;
  cursor: pointer;
  color: white;
  transition: opacity 0.3s ease;
}

.close-button:hover {
  opacity: 0.7;
}

.cart-body {
  padding: 20px;
  flex-grow: 1; 
  overflow-y: auto;
}

.cart-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 15px;
  margin-top: auto; 
}

.subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtotal .text {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  color: #333;
}

.subtotal .text-total {
  font-size: 20px;
  font-weight: 400;
  color: #8e2de2;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.checkout-cta {
  background-color: #8e2de2;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.checkout-cta:hover {
  background-color: #6516aa;
}

.opac-layer {
  display: none; 
}

.emptycart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
  text-align: center;
  padding: 20px;
  background-color: #f4f6f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.emptycart span {
  font-size: 20px;
  color: #333;
  margin: 15px 0;
}

.emptycart .return-cta {
  background-color: #8e2de2;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.emptycart .return-cta:hover {
  background-color: #6516aa;
}
.customer-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.customer-form input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.customer-form button {
  margin-top: 15px;
  background-color: #8e2de2;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.customer-form button:hover {
  background-color: #6516aa;
}
