/* Navbar */
.navbar {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: space-between; /* This pushes content to opposite sides */
  align-items: center;
  background-color: #8b7a7a18;
  padding: 10px 20px;
}

/* Logo container */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* This aligns the logo to the right */
}

/* Logo styling */
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* This makes the logo circular */
  object-fit: cover; /* Ensures the image scales proportionally */
}

/* Brand text */
.brand-text {
  color: #ece9e9;
  font-size: 24px;
  font-weight: bold;
}

/* Tabs */
.tabs-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.tab {
  color: #f1f1f1;
  font-size: 20px;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.tab:hover {
  text-decoration: underline;
  border-radius: 5px;
}

.disabled {
  pointer-events: none;
  color: gray;
  text-decoration: none;
}
